In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import os

In [2]:
data=pd.read_csv('ratings.csv',header=None,skiprows=[0])

In [3]:
data

            0    1    2           3
0           1    2  3.5  1112486027
1           1   29  3.5  1112484676
2           1   32  3.5  1112484819
3           1   47  3.5  1112484727
4           1   50  3.5  1112484580
...       ...  ...  ...         ...
1048570  7120  168  5.0  1175543061
1048571  7120  253  4.0  1175542225
1048572  7120  260  5.0  1175542035
1048573  7120  261  4.0  1175543376
1048574  7120  266  3.5  1175542454

[1048575 rows x 4 columns]

In [4]:
train,test = train_test_split(data,test_size=0.15,)

In [5]:
train.to_csv('Movie_train.csv',index=False, header=False)
test.to_csv('Movie_test.csv',index=False, header=False)

In [ ]:
'''
在cmd 相应目录里运行

perl triple_format_to_libfm.pl -in Movie_train.csv -target 2 -delete_column 3 -separator ","



perl triple_format_to_libfm.pl -in Movie_test.csv -target 2 -delete_column 3 -separator ","




'''

In [2]:
p=os.system("libFM -task r -train Movie_train.csv.libfm -test Movie_test.csv.libfm -method sgd -learn_rate 0.01 -out A1_out.txt")

In [7]:
'''
libFM -task r -train Movie_train.csv.libfm -test Movie_test.csv.libfm -method sgd -learn_rate 0.01 -out A1_out.txt

'''

'\nlibFM -task r -train Movie_train.csv.libfm -test Movie_test.csv.libfm -method sgd -learn_rate 0.01 -out Action1_Test.txt\n\n'